@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@500;600;700;800&display=swap");

:root {
    --heading: "Manrope", sans-serif;
    --body: "Inter", sans-serif;
}

body {
    font-family: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.brand {
    font-family: var(--heading);
}